<div class=container>
    <div class="row">
        <div class="col-md-7">
            <%= image_tag (@room.image).to_s, style: 'width:100%;' %>
        </div>
        <div class="col-md-5">
            <p><%= @room.description %></p>
            <p>Length: <%= @room.length %></p>
            <p>Width: <%= @room.width %></p>
            <% if !@room.taken %>
                <%= link_to 'Reserve', reserve_room_path(@room), class: 'my-3 btn btn-success' %>
            <% end %>
        </div>
        <% if logged_in?(:site_admin)%>
            <div>
                <%= link_to 'Edit', edit_room_path(@room), class: 'btn btn-warning' %>
                <%= link_to 'Delete', @room, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this room?' }, class: 'btn btn-warning' %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <%= link_to 'Back', rooms_path, class: 'btn btn-secondary my-3' %>
    </div>
</div>